:root {
    --cg-black: rgb(30, 32, 32);
    --cg-blue: rgb(36, 94, 255);
    --cg-grey: rgb(243, 243, 243);
    --cg-white: rgb(255, 255, 255);
    --cg-light-grey: #f8f8f8;
    --cg-dark-grey: rgb(50, 50, 50);
    --cg-border-radius: 8px;
}

body {
    background: var(--cg-grey);
    font-family: monospace;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: var(--cg-black);
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--cg-white);
    position: sticky;
    top: 0;
}

.logo {
    font-family: Georgia, serif;
    font-size: 36px;
}

.nav-list {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-list a {
    color: var(--cg-black);
    text-decoration: none;
    padding: 10px 15px;
    border-radius: var(--cg-border-radius);
}

.nav-list a:hover {
    background-color: var(--cg-blue);
}

/* Contact Form Styling */
.contact {
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--cg-light-grey);
    border-radius: var(--cg-border-radius);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.contact p {
    font-size: 20px;
    font-weight: bold;
    color: var(--cg-dark-grey);
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-size: 16px;
    color: var(--cg-dark-grey);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea,
select {
    padding: 10px;
    border: 1px solid var(--cg-grey);
    border-radius: var(--cg-border-radius);
    margin-bottom: 15px;
    font-size: 14px;
    color: var(--cg-white);
    background-color: var(--cg-dark_grey);
}

textarea {
    height: 100px;
}

input[type="submit"] {
    background-color: var(--cg-blue);
    color: var(--cg-white);
    padding: 10px;
    border: none;
    border-radius: var(--cg-border-radius);
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: var(--cg-dark-grey);
}

/* Footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cg-black);
    color: var(--cg-white);
    padding: 10px;
    margin-top: auto;
}
